.about {
    background-color: var(--background-color);
    padding: 2rem 6rem;
}

.about_info {
    margin: 0 2rem;
    color: var(--white-color);
    font-size: 1.5rem;
}

.about_info h1 {
    font-weight: 500;
}

.about_info span {
    font-size: 1.5rem;
    font-weight: 400;
}

.about_info {
    font-size: 1.5rem;
}

.about_skills_carousel {
    text-align: center;
    margin: 3rem 0;
}

.carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    color: var(--white-color);
}

.carousel-container .react-multi-carousel-item {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.carousel-container svg {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 900px) {
    .carousel-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about {
        padding: 2rem 1rem;
    }

    .about_info p {
        font-size: 1.2rem;
    }
}