@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.App {
    margin: 0 auto;
    background-color: var(--background-color);
}

hr {
    width:50%;
    margin:0 auto;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 480px;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        min-width: 768px;
    }
}

@media screen and (max-width: 1200px) {
    html, body {
        min-width: auto;
    }
}