@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.App {
    margin: 0 auto;
    background-color: var(--background-color);
}

html, body {
    min-width: 360px;
}

hr {
    width:50%;
    margin:0 auto;
}