.contact {
    background-color: var(--background-color);
    padding: 2rem 6rem;
}

.contact_info {
    margin: 0 2rem;
    color: var(--white-color);
    font-size: 1.5rem;
}

.contact_info h1 {
    font-weight: 500;
}

.contact_info span {
    font-size: 1.5rem;
    font-weight: 400;
}

.contact_info h1 > a {
    text-decoration: none;
    color: var(--white-color);
}

.contact_main {
    margin: 0 2rem;
}

.contact_main p {
    font-size: 1.5rem;
    color: var(--white-color);
}

.contact_main p > a {
    color: var(--primary-color);
    text-decoration: underline;
}

.contact_main p > a:visited {
    color: var(--primary-color);
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .contact {
        padding: 2rem 1rem;
    }

    .contact_main p {
        font-size: 1.2rem;
    }
}