.hero {
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    gap: 2rem;
}

.hero_info {
    margin-left: 2rem;
    color: var(--white-color);
}

.hero_info h1 {
    font-size: 3rem;
}

.hero_info p {
    font-size: 1.5rem;
}

.hero_info a {
    text-decoration: none;
    color: var(--white-color);
}

.hero_info button > a {
    text-decoration: none;
    color: var(--white-color);
}

.hero_info button {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}

.hero_img {
    margin-right: 3rem;
}

.hero_img img {
    border-radius: 300px;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {

    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero_info {
        text-align: center;
        margin-left: 0;
    }

    .hero_img {
        margin-right: 0;
    }
    
}

@media screen and (max-width: 600px) {
    .hero {
        padding: 2rem 1rem;
    }
}