.projects {
    background-color: var(--background-color);
    padding: 2rem 6rem;
}

.projects_info {
    margin: 0 2rem;
    color: var(--white-color);
    font-size: 1.5rem;
}

.projects_info h1 {
    font-weight: 500;
}

.projects_info h1 > a {
    text-decoration: none;
    color: var(--white-color);
}

.projects_info span {
    font-size: 1.5rem;
    font-weight: 400;
}

.projects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
    .projects_container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .projects {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    .projects {
        padding: 2rem 1rem;
    }
}